/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
  --colour-primary:#213a8f;
  --colour-secondary:#f9b233;
  --colour-highlight:#13afbf;
  --colour-accent:#639609;
  
}

body,html {
  background: #f3f3f3;
  color: var(--colour-primary);
  line-height: 1.5;
  font-family: 'Lora', Georgia, serif;
  padding:0;
  margin:0;
}

[href]:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  color:var(--colour-secondary);
}

h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: var(--size-700);
}

h2 {
  font-size: var(--size-600);
}

h3 {
  font-size: var(--size-600);
}

img {
  max-width: 50rem;
}

figcaption {
  font-size: var(--size-300);

  font-style: italic;
  margin-top: 1rem;
}

blockquote {
  padding-left: var(--size-600);
  border-left: 5px solid;
  font-style: italic;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

.flow > * + *{
  margin-top: var(--flow-space, 1em);
}

.flow{
	padding-top:1em;
}

p,
li {
  max-width: 60ch;
}

h1 {
  max-width: 25ch;
}

h2,
h3 {
  max-width: 40ch;
}

@media (min-width: 45em) {
  h1 {
    font-size: var(--size-900);
  }

  h2 {
    font-size: var(--size-700);
  }

  p,ul,label,a {
    font-size: var(--size-500);
  }
}

header{
	top:0;
	left:0;
	height:100px;
	z-index:200;
	width:100%;
}

footer{
	width:100%;
	float:left;
	padding-bottom:4rem;
	border-top:1px solid var(--colour-secondary);
	margin-top:4rem;
}

footer p{
	margin:0;
}

a.logo{
	position:absolute;
	top:1em;
	left:1em;
	width:200px;
	z-index:200;
	border-bottom: none;
}

a.logo:hover{
	border-bottom: none;
	opacity: 0.7;
}

nav{
	position:absolute;
	top:2.6em;
	right:1em;
	z-index:2000;
}

nav button{
	display: none;
}

nav ul{
	list-style: none;
	margin:0;
	padding:0;
}

nav ul li{
	display:inline-block;
	margin-left:2rem;
}

nav ul li a{
	color:#fff;
	font-size:var(--size-400);
}

nav ul li a:hover{
	color:var(--colour-highlight);
}

nav.internal ul li a{
	color:var(--colour-primary);
}

nav.internal ul li a:hover{
	color:var(--colour-secondary);
}

@media screen and (max-width:1024px){
	nav ul{
		background:#fff;
		width:240px;
		padding:1em;
		position:absolute;
		top:calc(2.4rem - 3px);
		right:0px;
		border-radius: 3px;
		display:none;
	}
	nav ul.show{
		display:block;
	}
	nav ul li{
		display:block;
		text-align: right;
		line-height:2rem;
		margin:0;
	}
	nav ul li a{
		color:var(--colour-primary);
	}
	nav button{
		display:block;
		border:1px solid #fff;
		border-radius: 3px;
		padding:0.4rem 1rem;
		background:transparent;
		color:#fff;
		float:right;
		cursor:pointer;
	}
	nav button:hover{
		background:#fff;
		color:var(--colour-primary);
	}
}

.wrapper{
	width:100%;
	float:left;
}

.wrapper--endorsements{
	background:var(--colour-secondary);
	margin-top:4rem;
	padding-bottom:4rem;
}

.wrapper--pledges{
	background:var(--colour-highlight);
	margin-top:4rem;
	padding-bottom:4rem;
	text-align: center;
}

.wrapper--event{
	background:var(--colour-primary);
	margin-top:4rem;
	padding-bottom:4rem;
}

.wrapper--event_text .restrict{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	max-width:1280px;
	margin:4rem auto;
	padding:0 1rem;
}

.wrapper--event_text h2{
	margin-top:0px;
}

.wrapper--pledges h3,
.wrapper--pledges p,
.wrapper--gallery h3,
.wrapper--event_text h2,
.wrapper--event_text h3,
.wrapper--event_text p{
	max-width: 100%;
	color:#fff;
}

.wrapper--gallery h3{
	text-align: center;
}

.wrapper--gallery ul{
	list-style:none;
	margin:0;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	margin:4rem 0;
	padding:0;
}

.wrapper--gallery ul li{
	display:flex;
	justify-content: center;
	align-items: center;
	background:#fff;
	padding:1rem;
}

.wrapper--gallery ul li:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.wrapper--form{
	background:var(--colour-primary);
}

.wrapper--text_restrict,
.wrapper--form_restrict,
.wrapper--video_restrict,
.wrapper--twitter_restrict,
.wrapper--endorsements_restrict,
.wrapper--pledges_restrict,
.wrapper--gallery_restrict,
.footer_restrict{
	max-width:1280px;
	margin:0 auto;
	display:block;
	padding:4rem 1em 0;
	position: relative;
}

p.pledges{
	font-size:var(--size-900);
	margin-top:1rem;
}

.wrapper--endorsements h2{
	color:#fff;
	margin-bottom:2rem;
}

.wrapper--endorsements ul.cards{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	list-style: none;
	margin:0;
	padding:0;
}

.wrapper--endorsements ul.cards li{
	background:#f1f2f2;
	box-shadow: 0px 0px 10px #333;
	padding-bottom:1rem;
}

.wrapper--endorsements ul.cards li img{
	width:100%;
	max-height:320px;
	min-height:240px;
	object-fit:cover;
}

.wrapper--endorsements ul.cards li blockquote{
	border:none;
	font-size:1rem;
	margin:1rem 0;
	padding:1rem;
	margin-bottom:0;
	font-style: normal;
}

.wrapper--endorsements ul.cards li small{
	font-size:0.8rem;
	margin:0 1rem;
	display:block;
}

.wrapper--text_restrict img{
	max-width:300px;
	height:auto;
}

.wrapper--hero{
	top:0;
	left:0;
	position:relative;
	z-index:0;
	margin-top:-100px;
}

.wrapper--hero h2{
	margin-top:0;
}

.wrapper--hero img{
	width:100%;
	max-width:100%;
	object-fit:cover;
}

.wrapper--hero_text{
	position: absolute;
	width:100%;
	bottom:0px;
	left:0px;
	background: linear-gradient(to bottom right, rgba(33,58,143,1) 0%, rgba(249,178,51,0.8) 100%);
	display:flex;
	align-items: center;
	justify-content: center;
}

.wrapper--gallery{
	background:var(--colour-primary);
}

.wrapper--hero_text h1,
.wrapper--hero_text h2,
.wrapper--hero_text p{
	color:#fff;
}

.wrapper--hero,
.wrapper--hero img,
.wrapper--hero_text{
	height:70vh;
	min-height:600px;
	height:70vh;
}


.wrapper--hero_text .restrict{
	width:1280px;
	display:block;
	margin:0 auto;
	padding:0 1em;
}

.button, #give a{
  background-color: var(--colour-primary);
  box-shadow: 0 5px 0 var(--colour-secondary);
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display:inline-block;
  float:left;
  border-bottom:none;
  margin-bottom:2rem;
}

.button:hover, #give a:hover {
  background-color: var(--colour-secondary);
  cursor: pointer;
  border-bottom:none;
  color:#fff;
}

.button.light{
	background-color: #fff;
	color:var(--color-primary);
}

.button:active {
  box-shadow: none;
  top: 5px;
}

.button.light:hover{
	background:var(--colour-secondary);
}

input[type=submit].button{
	display:block;
	float:none;
	margin-top:1em;
	border:none;
}

a{
	color:var(--colour-highlight);
	border-bottom:1px solid var(--colour-highlight);
	text-decoration: none;
}

a:hover{
	color:var(--colour-accent);
	border-bottom:1px solid var(--colour-accent);
}

form{
	padding:1em;
}

.sib-form{
	margin-bottom:4rem !important;
}

form h2,
form label{

}

form label{
	margin-top:1em;
	display:block;
}

form input[type=text],
form input[type=email],
form select{
	padding:1em;
	width:40ch;
	max-width:100%;
	background:#fff;
}

form ul{
	margin:0;
	padding:0;
}

form input[type=radio]{
	float:left;
	margin-top:10px;
	margin-right:1rem;
}

form :focus{
	outline:2px dashed var(--colour-highlight);
}

form .button {
  background-color: var(--colour-highlight);
  box-shadow: 0 5px 0 var(--colour-secondary);
}

form .button:hover{
  background-color: var(--colour-secondary);
  box-shadow: 0 5px 0 var(--colour-secondary);	
}

form p{
  font-size:var(--size-400);
}

form a{
	color:#fff;
	border-bottom:1px solid #fff;
}

form a:hover{
	color:var(--colour-accent);
	border-bottom:1px solid var(--colour-accent);
}

.wrapper--video_restrict iframe{
	position: absolute;
	top:-300px;
	right:30px;
	border:20px solid var(--colour-secondary);
	box-shadow: 0px 0px 10px #777;
	transform: rotate(-2deg);
	width:600px;
	height:380px;
}

.wrapper--video_restrict img{
	position:absolute;
	right:700px;
	top:-200px;
	width:240px;
	height:120px;
}

img{
	max-width:100%;
	height:auto;
}

@media screen and (max-height:1090px){
	.wrapper--video_restrict iframe{
		top:-200px;
	}
	.wrapper--video_restrict img{
		top:-150px;
	}
	.wrapper--video_restrict{
		margin-bottom:140px;
	}
}

@media screen and (max-width:1780px){
	a.logo{
		width:140px;
	}
}

@media screen and (max-width:1280px){
	a.logo{
		width:120px;
	}
	nav{
		top:2.2em
	}
}

@media screen and (max-width:720px){
	nav{
		top:1.4rem;
	}
}

@media screen and (max-width:1024px){
	.wrapper--video_restrict iframe{
		position: relative;
		left:0;
		right:0;
		top:-140px;
		margin:0 auto;
		display: block;
		max-width:100%;
	}
	.wrapper--video_restrict img{
		display:none;
	}
	.wrapper--video_restrict{
		margin-bottom:-140px;
	}
	.wrapper--endorsements ul.cards{
		grid-template-columns: 1fr 1fr;
	}
	.wrapper--event_text .restrict{
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width:600px){
	.wrapper--endorsements ul.cards{
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width:500px){
	.wrapper--video_restrict iframe{
		height:300px;
	}
}

.juicer-feed h1.referral{
	display:none !important;
}

.juicer-feed.loaded{
	margin-top:4rem !important;
}

#mce-success-response{
	background:#fff;
	padding:1em;
	color:var(--colour-highlight);
	font-weight:700;
	font-size:var(--size-500);
	margin-top:1rem;
}

#mce-error-response{
	background:#fff;
	padding:1em;
	color:#880000;
	font-weight:700;
	font-size:var(--size-500);
	margin-top:1rem;
}

.pledge-totals{
	padding: 0;
	margin: 0;
	color: #fff;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
}

.pledge-totals li{
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	padding:2rem 1rem;
}

.pledge-totals li:nth-child(4n){
	border-right:none;
}

.pledge-totals li:nth-child(5n),
.pledge-totals li:nth-child(6n),
.pledge-totals li:nth-child(7n),
.pledge-totals li:nth-child(8n){
	border-bottom:none;
}

.pledge-totals li span{
	display: block;
	font-size:var(--size-400);
}

.pledge-totals li em{
	font-size:var(--size-700);
}

@media screen and (max-width:768px){
	.pledge-totals{
		grid-template-columns: 1fr 1fr;
	}
	.pledge-totals li:nth-child(2n){
		border-right:none;	
	}
	.pledge-totals li:nth-child(5n),
	.pledge-totals li:nth-child(6n){
		border-bottom:1px solid #fff;
	}
}